body {
	background:#f8f8f8;
	font-family: 'Open Sans', sans-serif;
	text-shadow:none;
	color:#fff;
}
 
 
 
 .ui-btn-active {
border: 1px solid #2373a5;
background: #fa637c /*{global-active-background-color}*/;
font-weight: bold;
color: #fff /*{global-active-color}*/;
cursor: pointer;
text-shadow: 0 /*{global-active-shadow-x}*/ 1px /*{global-active-shadow-y}*/ 0 /*{global-active-shadow-radius}*/ #3373a5 /*{global-active-shadow-color}*/;
text-decoration: none;
background-image: -webkit-gradient(linear, left top, left bottom, from( #fa637c /*{global-active-background-start}*/), to( #fa637c /*{global-active-background-end}*/));
background-image: -webkit-linear-gradient( #fa637c /*{global-active-background-start}*/, #fa637c /*{global-active-background-end}*/);
background-image: -moz-linear-gradient( #fa637c /*{global-active-background-start}*/, #fa637c /*{global-active-background-end}*/);
background-image: -ms-linear-gradient( #fa637c /*{global-active-background-start}*/, #fa637c /*{global-active-background-end}*/);
background-image: -o-linear-gradient( #fa637c /*{global-active-background-start}*/, #fa637c /*{global-active-background-end}*/);
background-image: linear-gradient( #fa637c /*{global-active-background-start}*/, #fa637c /*{global-active-background-end}*/);
font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
 
 .ui-body-c{
	 text-shadow:none;
	 color:#fff;
 }
.ui-page{
	background:url(../img/bg.jpg) no-repeat;
	-webkit-background-size: cover;
			-moz-background-size: cover;
		    -o-background-size: cover;
        	background-size: cover;
	background-attachment:fixed;
}


.ui-checkbox-on .ui-icon, .ui-radio-on .ui-icon {
background-color: #55CE45;
}



.destacador {
background: #dce3e4;
-webkit-border-radius: 15px;
border-radius: 15px;
color: #3a3a3a;
display: inline-block;
font-family: 'open_sanslight';
font-size: 0.875em;
margin: 0 5px;
padding: 1px 10px 3px; 
}


.text-align-center {
  text-align: center;
}
.text-align-right {
  text-align: right;
}

/** CSS for non-standard jQuery Mobile styles or Codiqa components **/
.split-wrapper {
  width: 100%;
  min-height: 200px;
  clear: both;
}

.boton-verde{
	text-shadow:none;
background: #05d36b;
background: -moz-linear-gradient(top, #05d36b 1%, #02cc5c 100%); 
background: -ms-linear-gradient(top, #05d36b 1%,#02cc5c 100%); 
background: -o-linear-gradient(top, #05d36b 1%,#02cc5c 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#05d36b), color-stop(100%,#02cc5c)); 
background: -webkit-linear-gradient(top, #05d36b 1%,#02cc5c 100%); 
background: linear-gradient(to bottom, #05d36b 1%,#02cc5c 100%); 
-webkit-border-radius: 2px;
border-radius: 2px;
color: #FFF;
display:block;
filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#05d36b', endColorstr='#02cc5c',GradientType=0 );

font-family:Arial, Helvetica, sans-serif;

font-size:1em;
letter-spacing:0.03em;
padding: 10px;
text-decoration: none;
text-align:center;
margin-bottom: 10px;
}

.boton-orange  {	
background: #ee9007; 
-webkit-border-radius: 2px;
border-radius: 2px;
color: #FFF;
display:block;
font-size:1em;
letter-spacing:0.03em;
padding: 10px;
text-decoration: none;
text-align:center;
margin-bottom: 10px;
}


.boton-verde2  {	
background: #05d36b;
background: -moz-linear-gradient(top, #05d36b 1%, #02cc5c 100%); 
background: -ms-linear-gradient(top, #05d36b 1%,#02cc5c 100%); 
background: -o-linear-gradient(top, #05d36b 1%,#02cc5c 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#05d36b), color-stop(100%,#02cc5c)); 
background: -webkit-linear-gradient(top, #05d36b 1%,#02cc5c 100%); 
background: linear-gradient(to bottom, #05d36b 1%,#02cc5c 100%); 
-webkit-border-radius: 2px;
border-radius: 2px;
color: #FFF;
display:block;
filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#05d36b', endColorstr='#02cc5c',GradientType=0 );
font-family: 'open_sanssemibold';
font-size:1em;
letter-spacing:0.03em;
padding: 10px;
text-decoration: none;
text-align:center;
margin-top:10px;
margin-bottom:10px;

}
.boton-verde3  {	
background: #999;
background: -moz-linear-gradient(top, #eee 1%, #d1d1d1 100%); 
background: -ms-linear-gradient(top, #eee 1%,#d1d1d1 100%); 
background: -o-linear-gradient(top, #eee 1%,#d1d1d1 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#eee), color-stop(100%,#d1d1d1)); 
background: -webkit-linear-gradient(top, #eee 1%,#d1d1d1 100%); 
background: linear-gradient(top bottom, #eee 1%,#d1d1d1 100%); 
-webkit-border-radius: 2px;
border-radius: 2px;
color: #FFF;
display:block;
filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#eee', endColorstr='#d1d1d1',GradientType=0 );
font-family: 'open_sanssemibold';
font-size:1em;
letter-spacing:0.03em;
padding: 10px;
text-decoration: none;
text-align:center;
margin-top:10px;
margin-bottom:10px;

}

.boton-verde4 {	
background: #999;
background: -moz-linear-gradient(top, #ff95a7 1%, #ff728a 100%); 
background: -ms-linear-gradient(top, #ff95a7 1%,#ff728a 100%); 
background: -o-linear-gradient(top, #ff95a7 1%,#ff728a 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ec86b4), color-stop(100%,#ff728a)); 
background: -webkit-linear-gradient(top, #ff95a7 1%,#ff728a 100%); 
background: linear-gradient(top bottom, #ff95a7 1%,#ff728a 100%); 
-webkit-border-radius: 2px;
border-radius: 2px;
color: #FFF;
display:block;
filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ff95a7', endColorstr='#ff728a',GradientType=0 );
font-family: 'open_sanssemibold';
font-size:1em;
letter-spacing:0.03em;
padding: 10px;
text-decoration: none;
text-align:center;
margin-top:10px;
margin-bottom:10px;

}

.boton-verde:active{
background: #05e565;
background: -moz-linear-gradient(top, #05e565 2%, #0edd62 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#05e565), color-stop(100%,#0edd62));
background: -webkit-linear-gradient(top, #05e565 2%,#0edd62 100%);
background: -o-linear-gradient(top, #05e565 2%,#0edd62 100%);
background: -ms-linear-gradient(top, #05e565 2%,#0edd62 100%);
background: linear-gradient(to bottom, #05e565 2%,#0edd62 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05e565', endColorstr='#0edd62',GradientType=0 );
}

.boton-fb{
background: #3179f1;
background: -moz-linear-gradient(top, #3179f1 0%, #2168de 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3179f1), color-stop(100%,#2168de)); 
background: -webkit-linear-gradient(top, #3179f1 0%,#2168de 100%); 
background: -o-linear-gradient(top, #3179f1 0%,#2168de 100%); 
background: -ms-linear-gradient(top, #3179f1 0%,#2168de 100%); 
background: linear-gradient(to bottom, #3179f1 0%,#2168de 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3179f1', endColorstr='#2168de',GradientType=0 );
-webkit-border-radius: 2px;
border-radius: 2px;
color: #FFF;
display:block;
font-family: 'open_sanssemibold';
font-size:1em;
letter-spacing:0.03em;
padding: 10px 0 10px 20px;
text-align:left;
text-decoration: none;
}
.boton-fb:active {
background: #398aff;
background: -moz-linear-gradient(top, #398aff 0%, #2979ed 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#398aff), color-stop(100%,#2979ed));
background: -webkit-linear-gradient(top, #398aff 0%,#2979ed 100%);
background: -o-linear-gradient(top, #398aff 0%,#2979ed 100%);
background: -ms-linear-gradient(top, #398aff 0%,#2979ed 100%);
background: linear-gradient(to bottom, #398aff 0%,#2979ed 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#398aff', endColorstr='#2979ed',GradientType=0 );
}

.titulo-R {
	text-shadow:none;
	background-image: url(../img/R.png);
	background-repeat: no-repeat;
	height: 26px;
	left: 0;
	text-align: center;
	width: 160px;
	padding-bottom: 15px;
	padding-right: 5px;
	color: #FFF;
	font-size: 1.125em;
	margin: 15px 0; 
	position: absolute;
	display: block;
}
form{
	margin-top: 50px;
}
form .ui-shadow-inset{
	box-shadow:none;
	border-radius: 0.2em;
	margin: 20px 0;
	color:#666;
}
.ui-btn-corner-all {
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
}
.ui-select{
	background-color: #eee;
border-radius: 3px;
box-shadow: none;
}
.ui-select .ui-btn-inner{
	color:#666;
}
div.ui-slider {
width: 92%;
}
.paso{
	float:right;
	margin:15px 0;}
.header{
	display:block;
	margin:50px 0;
}
.logo{
	display:block;
	margin: auto; width:106px; height:36px;
	background-image:url(../img/logo.png);
}
.ui-checkbox .ui-btn-icon-left .ui-icon, .ui-radio .ui-btn-icon-left .ui-icon {

background-color: #eee;
}
.ui-btn-inner{
	border:none;
text-shadow: none;
color: #fff;
font-family: 'Open Sans', sans-serif;
}
.ui-checkbox input, .ui-radio input{
	display:none;
}
.ui-btn-up-c, .ui-btn-hover-c{
	background:none;
	border:none;
}
input.ui-slider-input, .ui-field-contain input.ui-slider-input{
	display:none;
}
div.ui-slider{
	margin:15px;
}
.fotoPerfil{
	width:80px;
	height:80px;
	border-radius:100%;
	-webkit-border-radius:100%;
	margin:0 auto;
	margin-top:30px;
	background:#3F9;
}

.botonDash1{
	width:145px;
	height:40px;
	margin:0 auto;
	margin-top:10px;
	background:url(../img/cara.png);	
}
.botonDash2{
	width:145px;
	height:40px;
	margin:0 auto;
	margin-top:10px;	
	background:url(../img/blog.png);	
}

.botonDash3{
	width:145px;
	height:40px;
	margin:0 auto;
	margin-top:10px;
	background:url(../img/cirulo.png);
}

.botonDash4{
	width:145px;
	height:40px;
	margin:0 auto;
	margin-top:10px;
	background:url(../img/circulo2.png)	
}


#perfil 
{
	width:60px;
	height:60px;
	margin:0 auto;
	margin-top:80px;

}

.titulo
{
	text-align:center;
}

.titulodos
{
	text-lign:center;
}
.ui-slider-handle{
		background: #44C04E;
	border-radius: 100%;
}

/*************fincsshector*********************/
   /* App custom styles */

	.home h1 {font-size:5em; font-weight:100; color: #fff; text-align:center; font-family: 'Open Sans' !important;} 
	.home h2{text-align:center; color:#00e4e9; font-size:2em; font-weight:100; margin-top:-80px; font-family: 'Open Sans' !important;}
	.home .destacador { padding:5px 0; text-align:center; display:block; margin:-10px 10px 0; font-family: 'Open Sans' !important;}
	.home .ui-content {
	border-width: 0;
	overflow: visible;
	overflow-x: hidden;
	padding: 15px;
	}
	.home p{ font-size:1.2em; font-weight:100; font-family: 'Open Sans' !important; }

.content{
	margin-top:65px;
}

.destacador {
background: #dce3e4;
-webkit-border-radius: 15px;
border-radius: 15px;
color: #3a3a3a;
display: inline-block;
font-family: 'open_sanslight';
font-size: 0.875em;
margin: 0 5px;
padding: 1px 10px 3px; 
}

input {background:#dce3e4; width:90%;
}
